/* general */
*{
  margin: 0%;
  padding: 0%;
  color: white;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 82%;
  margin: auto;
}

.blueviolate{
  color: #7453fc;;
}

.flex{
  display: flex;
}

.space_v{
  margin: 25px 0px;
}

.space_h{
  margin: 0px 25px 0px 0px;
}

.headline{
  margin-top: 50px;
  text-align: center;
  padding: 30px 0px;
}

.line{
  width: 110px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7453fc;;
  display: block;
  position: absolute;
}

.relative_h,.relative_v{
  position: relative;
}

.relative_h::after{
  content: "";
  width: 80%;
  height: 1.5px;
  position: absolute;
  display: block;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

.relative_v::after{
  content: "";
  width: 1px;
  height: 80%;
  position: absolute;
  display: block;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.2);
}

/* ----------------------------------- */







/*NFT*/

.nft{
  background-color: rgb(120, 89, 255);
  color: white;
  padding-bottom: 50px;
}

.create,.nft_process{
  display: flex;
  justify-content: space-between;
  padding: 30px 16px;
}

.create{
  padding-top: 100px;
}
.create_line{
  left: 75px;
  width: 150px;
}

.create_title{
  position: relative;
}

.create_title h2{
  margin-top: 30px;
}

.create_button button{
  width: 400px;
  height: 46px;
  border-radius: 50px;
  background-color: #7453fc;;
  border: 0px;
  color: white;
}


.nft_all{
  padding: 0px 0px 0px 5px;
  width: 33%;
}

.nft_all h4, .nft_all p{
  margin: 20px 10px;
}

.nft_all p{
  line-height: 200%;
  font-size: 15px;
  margin-right: 30px;
}

.nft_icon{
  width: 62px;
  height: 62px;
  display: inline-block;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.nft_number h6{
  display: flex;
  justify-content: end;
}

@media only screen and (max-width: 992px){

  .create,.nft_process{
    text-align: center;
    display: block;
    padding: 30px 16px;
  }

  .create_line{
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
  }

  .create_button{
    margin-top: 30px;
  }

  .nft_all {
    width: 100%;
    text-align: center;
    margin-top: 45px;
  }  
} 
/* --------------------- */




/* inputs */

.inputs{
  background-image: url(./images/dark-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px 120px 0px;

}

.inputs_container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-top: 50px;
  text-align: left;
  background-color: #404245;
  padding: 45px 15px;
  border-radius: 15px;
  color: white;
  font-size: smaller;
}

.title,.desc,.username,.Price,.Royalties{
  width: 100%;
  height: 46px;
  text-align: left;
  padding: 0px 15px;
  background-color: #282b2f;
  border: 1px solid #404245;
  border-radius: 25px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #afafaf;
}

.input1{
  width: 30%;
  padding-top: 10px;
}

.input2{
  width: 48%;
}

.submit_btn{
  position: relative;
}

.file{
  width: 100%;
}

.inputs_container button{
  width: 500px;
  height: 46px;
  margin-top: 15px;
  border-radius: 50px;
  background-color: #7453fc;;
  border: 0px;
  color: white;

}

@media only screen and (max-width: 1010px){
  .inputs_container button{
    width:200px
  }
  
}

@media only screen and (max-width: 710px){
.inputs_container{
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;

}
.input1,.input2{
  width: auto;
}
} 

/* --------------------------------------------------------- */



/* preview */
.preview{
  width: 100%;
  color: black;
  background-image: url(./images/dark-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px 120px 0px;
}

.preview_info{
  width: 100%;
  display: flex;
}

.preview_img{
  width: 100%;
  max-width: 612px;
  height: 320px;
  margin: 5%;
  border-radius: 20px;
  overflow: hidden;
}

.preview_img img{
  width: 100%;
  height: 100%;
  background-size: cover;
}

.preview_details{
  max-width: 430px;
  width: 100%;
  margin: 5% 0px;
}

.preview_details_Dolores{
  font-size: larger;
  font-weight: bolder;
}

.preview_pic{
  display: flex;
  flex-wrap: wrap;
}

.preview_pic > img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 5px;
}

.preview_salary{
  display: flex;
}

@media only screen and (max-width:1000px){
  .preview_info{
    width: 100%;
    display: block;
    margin: auto;
  }
  .preview_img{
    width: 100%;
    max-width: 1000px;
  }
  .preview_details{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-left: 50px;
    
  }
} 
/* ------------------------------------------------------- */



 /* categories */
.categories{
  position: relative;
  background-image: url(./images/dark-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px 120px 0px;
}

.categories_items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories_item{
  background-color: #282b2f;
  border: 1px solid #404245;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  color: white;
  width: 14.66666667%;
  position: relative;
}


.icon_button a i{
  position: absolute;
  font-size: xxx-large;
  left: 50%;
  top: 86%;
  transform: translatex(-50%);
}


.item_img{
  width: 62px;
  height: 62px;
  display: inline-block;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

@media only screen and (max-width:1000px){
.categories_item{
  width: 45%;
  margin-bottom: 50px;
}
}

@media only screen and (max-width:500px){
  .categories_item{
    width: 90%;
    margin-bottom: 50px;
  }
  } 

/* ----------------------- */


/* footer */
.footer{
  width: 100%;
  text-align: center;
  background-color: #7453fc;;
  display: block;
  padding: 0px 50px;
}

.copyright{
  margin: auto;
  padding: 30px 0px;
  color: white;
} 

/* -------------- */
/* -------------- */
/* -------------- */
/* -------------- */
/* -------------- */
/* -------------- */
/* -------------- */
/* -------------- */
/* -------------- */
/* -------------- */
/* -------------- */






/* gamer */

.gamer{
  background-image: url(./images/dark-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px 120px 0px;
}

.gamer_title{
  display: flex;
  justify-content: space-between;
}

.gamer_head{
  background-color: #7453fc;
  padding: 10px;
  border-radius: 25px;
}

.gamer_select{
  width: 150px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-weight: 400;
  cursor: pointer;
  font-size: 15px;
}

.gamers_pro{
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0px;
  
}

.gamer_profile{
  width: 31.5%;
  height: 215px;
  border: solid 1px gray;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 10px;
}

.gamer_img,.gamer_info{
width: 150px;
height: 215px;
}


.gamer_img>img{
  width: 100%;
  height: 100%;
  background-size: cover;
}

.gamer_info{
  width: 210px;
  padding-left: 30px;
  background-color: rgba(38, 36, 43, 0.993);
  font-size:1rem;
}

.gamer_name, .gamer_rank{
  height: 40%;
  width: 80%;
  margin: 5% 0%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
}

.gamer_name{
  border-bottom: 1px gray solid;
  font-weight: bolder;
}

.gamer_name p{
  font-size: large;
}


.gamer_name p span, .gamer_rank span{
  font-size: smaller;
}

#bid{ 
  font-size: large;
  font-weight: bolder;
  
}

@media only screen and (max-width:1000px){
  .gamer_profile{
    width: 45%;
    margin-bottom: 50px;
  }
  }

@media only screen and (max-width:550px){
  .gamer_profile{
    width: 90%;
    margin-bottom: 50px;
  }
  .gamer_title{
   display: block;
   text-align: center;
  }
  .gamer_head{
    margin-bottom: 15px;
  }
  } 


 /* ----------------------------------------------- */





/* Market */

.market_nav{
  display: flex;
  
}

.market_nav a{
  text-decoration:none;
  color: black;
  margin: 10px 20px;


}

.list_item{
  list-style: none;
}

.market_item{
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 390px;
  border: solid gray 1px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #404245;
  color: white;
}

.market_img , .market_content{
  width: 47%;

}
.market_img{
  margin: 20px;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
}
.market_img img{
  width: 100%;
  background-size: cover;
}

.market_content{
  padding-top: 20px;
}
.market_content .bid,.market_content .ends{
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
}

.market_content .ends{
  text-align: right;
}

.button_view{
  margin-top: 50px;
}

.market_pic{
  display: flex;
  flex-wrap: wrap;
}

.market_pic > img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 5px;
}

/* ---------------------- */
